<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LesTevesPlantilles</title>
    <link rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="mx-5 bg-light">
        <div>
          <div class="mt-5">
                <h2 class="text-dark text-uppercase font-weight-bold">{{ plantilles[1].get("equiposNombre")}}</h2>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <p><u>Any de fundació</u></p>
                            <p>{{ plantilles[1].get("equiposFundacion")}}<p>
                        </td>
                        <td>
                            <p><u>Ciutat</u></p>
                            <p>{{ plantilles[1].get("equiposCiudad")}}<p>
                        </td>
                        <td>
                            <p><u>Estadi</u></p>
                            <p>{{ plantilles[1].get("equiposEstadio")}}<p>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered mt-3 table-sm table-rounded-3">
                    <tr class="bg-dark text-white">
                        <th scope="col">Número</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Poscicion</th>
                        <th scope="col">Nacimiento</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Valor de Mercado</th>
                    </tr>
                {% for p in plantilles -%}
                    <tr>
                       <td scope="row">{{ p.get("jugadoresNumero")}}</td>
                       <td>{{ p.get("jugadoresNombre")}}</td>
                       <td>{{ p.get("jugadoresPoscicion")}}</td>
                       <td>{{ p.get("jugadoresNacimiento")}}</td>
                       <td>{{ p.get("jugadoresAltura")}} cm</td>
                       <td>{{ p.get("jugadoresValordeMercado")}} mil</td>
                    </tr>
                {% endfor -%}
                </table>
          </div>
        </div>
</body>
</html>
